[Desktop Entry]
Name=Scenic
Name[ar]=Scenic
Name[ca]=Scenic
Name[ca@valencia]=Scenic
Name[cs]=Scenic
Name[da]=Scenic
Name[de]=Scenic
Name[en_GB]=Scenic
Name[es]=Scenic
Name[et]=Scenic
Name[eu]=Scenic
Name[fi]=Scenic
Name[fr]=Scenic
Name[gd]=Scenic
Name[gl]=Scenic
Name[hu]=Scenic
Name[ia]=Scenic
Name[id]=Scenic
Name[it]=Scenic
Name[ko]=Scenic
Name[nb]=Scenic
Name[nl]=Scenic
Name[nn]=Scenic
Name[pl]=Scenic
Name[pt]=Scenic
Name[pt_BR]=Scenic
Name[ru]=Scenic
Name[sk]=Scenic
Name[sl]=Scenic
Name[sr]=Scenic
Name[sr@ijekavian]=Scenic
Name[sr@ijekavianlatin]=Scenic
Name[sr@latin]=Scenic
Name[sv]=Scenic
Name[tr]=Scenic
Name[uk]=Scenic
Name[x-test]=xxScenicxx
Name[zh_CN]=Scenic
Name[zh_TW]=Scenic
Comment=Allows you to use Scenic your KDE Plasma wallpaper

Type=Service
Icon=plasma
X-KDE-ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Author=@sirspudd
X-KDE-PluginInfo-Email=y4my4m@protonmail.com
X-KDE-PluginInfo-Name=com.sspdd.scenic
X-KDE-PluginInfo-License=BSD-3-clause
X-KDE-PluginInfo-Version=1.0
X-Plasma-MainScript=ui/main.qml
